Repository bigscience-workshop/biomedical, pull requests merged in 2022-04, with the labels that each got.

#352 Closes #98
  biodatasets/mutation_finder/mutation_finder.py
Labels: tricky schema

#423 Closes #69
  biodatasets/essai/essai.py
Labels: local dataset

#404 Closes #153
  biodatasets/bio_sim_verb/bio_sim_verb.py
Labels: misc. quirk

#364 Closes #246
  biodatasets/psytar/psytar.py
Labels: local dataset

#447 Closes #157
  biodatasets/nlm_wsd/nlm_wsd.py
Labels: local dataset

#418 Closes #209 + PubMed Abstract Loader
  biodatasets/bioasq_task_c_2017/bioasq_task_c_2017.py
Labels: local dataset

#468 Closes #40
  biodatasets/mediqa_nli/mediqa_nli.py
Labels: local dataset

#467 Closes #438.
  biodatasets/mednli/mednli.py
Labels: local dataset

#434 Closes #156
  biodatasets/msh_wsd/msh_wsd.py
Labels: local dataset

#469 Closes #37
  biodatasets/n2c2_2018_track2/n2c2_2018_track2.py
Labels: local dataset

#490 Closes #221
  biodatasets/n2c2_2018_track1/n2c2_2018_track1.py
Labels: local dataset

#498 Create dataset loader for Thomas et al 2011 #
  biodatasets/thomas2011/thomas2011.py
Labels: misc. quirk

#432 Closes #252
  biodatasets/ntcir_13_medweb/ntcir_13_medweb.py
Labels: Translation, Span / Sentence Classification, local dataset
